body {
    background-color: rgb(255, 207, 168);
}
h1 {
    color: #ac5050;
}
h1 {
    text-shadow:5px 5px 5px ;
}
h3 {
    color: rgb(237, 255, 187);
    text-shadow:1px 1px 3px
}
h5 {
    color: cornflowerblue;
}
img {
    width: 220px;
    height: 200px;
}
.button {
    background-color: rgb(175, 255, 255);
    border: black;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    text-align: center;
    box-shadow: 2px 2px 15px 15px rgb(255, 134, 198);
    margin: 40%;
}
.button:hover{
    background-color: #FF9CC5;
}
